body { font-family: Segoe UI, Arial, sans-serif; text-align: center; margin-top: 40px; }
.btn { margin: 2px; padding: 4px 8px; font-size: 1.2em; border-radius: 2px; border: none; background: #4A90E2; color: #fff; cursor: pointer; transition: background 0.2s; }
.btn:hover { background: #357ABD; }
#canvasWrap { flex:1; display:flex; align-items:center; justify-content:center; background:#ddd }
canvas { background: white; touch-action: none; border:1px solid #999 }